.card {
  display: inline-block;
  border: 1px solid #eee;
  background-color: #ffffff ;
  box-shadow: 2px 2px 2px #ccc;
  border-radius: 10px;
  width: 180px;
  height: 130px;
  padding: 25px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 30px;
}
p {
  font-size: 20px;
}
